In [14]:
import pandas as pd
import numpy as np

In [6]:
ages = [21, 23, 35, 36, 21, 23, 47, 35, 63, 43, 49, 33,47, 35, 63, 43, 49, 33]
bins = [20, 25, 35, 45, 60, 100]
age_bins = pd.cut(ages, bins, right=False)  # right=False means that the rightmost bin is open
age_bins.categories       # list the categories

IntervalIndex([[20, 25), [25, 35), [35, 45), [45, 60), [60, 100)], dtype='interval[int64, left]')

In [7]:
pd.value_counts(age_bins) # counts the number of values in each bin

/var/folders/b3/l5xvflg903nbjdj60pkqn9ww0000gn/T/ipykernel_26368/2484350657.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(age_bins) # counts the number of values in each bin

[35, 45)     6
[20, 25)     4
[45, 60)     4
[25, 35)     2
[60, 100)    2
Name: count, dtype: int64

In [11]:
## Another example of binning with cut - Dataframe

# Make simple dataframe
ages = {'age':[21, 23, 35, 36, 21, 23,47, 35, 63, 43, 49, 33,47, 35, 63, 43, 49, 33]}
df_ages = pd.DataFrame(ages)
bins = [20, 25, 35, 45, 90]    # bins for the age

# Define some labels
labels = ['Young', 'Adult', 'Middle Aged', 'Elderly']
df_ages['AgeGroup'] = pd.cut(df_ages['age'], bins=bins, labels=labels) # create a new column with the age group
df_ages

    age     AgeGroup
0    21        Young
1    23        Young
2    35        Adult
3    36  Middle Aged
4    21        Young
5    23        Young
6    47      Elderly
7    35        Adult
8    63      Elderly
9    43  Middle Aged
10   49      Elderly
11   33        Adult
12   47      Elderly
13   35        Adult
14   63      Elderly
15   43  Middle Aged
16   49      Elderly
17   33        Adult

In [13]:
bin_counts = df_ages['AgeGroup'].value_counts() # count the number of values in each bin
print(bin_counts)

AgeGroup
Elderly        6
Adult          5
Young          4
Middle Aged    3
Name: count, dtype: int64

In [17]:
# An example of creating array using numpy
nump0 = np.array([1,2,3,4,5])
print(nump0)

[1 2 3 4 5]

In [19]:
# Create a one dimensional array of the age labels
nump1 = np.array(labels)
print(nump1)

['Young' 'Adult' 'Middle Aged' 'Elderly']

In [26]:
# Check data type of age
print(type(ages))

<class 'dict'>